* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}



/* header section  */

header {
    background-image:  linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/donation4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
   
}

.donate-hdr {
    text-align: center;
    
   
    padding-top: 300px;
    

}

.donate-hdr h1{
    color: white;
    font-size: 50px;
}

.donate-hdr p{
    margin-top: 30px;
   margin-bottom: 50px;
    font-size: 25px;
    color: white;
   
}

.btn{
    text-decoration: none;
   
    color: white;
    font-size: 25px;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 400 !important;

   
 }



 .donate{
    margin-top: 80px;
    text-align: center;
 }

 .donate-today h1{
    font-size: 50px;
 }

 .donate-today p{
    font-size: 25px;
    margin-top: 15px;
    font-weight:200 !important; 
    color: rgb(95, 76, 76);
 }

 .donate-money{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
 }

 .donate-money p{
    font-size: 30px;
    padding: 60px;
    margin: 30px;
    background-color: rgb(233, 233, 233);
    
 }
.donate-money-ptag{
  
    border: 3px solid tomato;
    color: rgb(226, 45, 14);
    background-color: rgb(241 203 197) !important;
}
 

form{
    margin: 35px;

}

.donate-form-amount{
    width: 900px;
    height: 40px;
    margin-top: 30px;
    padding-left: 650px;
    padding-bottom: 20px;
    border:none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 35px;
    

}


  